*{
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #00FFFF, #FF6EFF);
    
}
.create{

    width: fit-content;
    padding: 1rem;
    border-radius: 65px;
    background: linear-gradient(90deg, #ff6eff63,#00ffff63);      
    
}
#field{
    border:none;
    outline:none;
    background: transparent;
    color: #FF6EFF;
    font-size: 1.5rem;
    width: 80%;
    
    
}
.boton {
    
    border: none;
    outline: none;
    padding: 0.6rem 1rem; 
    background: rgba(156, 7, 255, 0.164);
    font-size: 1rem;
    
    border-radius: 100%;
    
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: rgba(255, 255, 255, 0.514);
}
.task-container{
    width: 80%;
    
    border-radius: 5px;
    background-color: white;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 16px 8px 12px 50px;
    user-select: none;
    position: relative;
    cursor: pointer;
   
    
}
ul li::before{
    content: '';
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 12px;
    left: 8px; 
    border-radius: 50%;
    background-image: url('./../assets/images/uncheck.svg'); 
    background-size: cover;
    background-position: left center;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('./../assets/images/image_2024-02-26_003421442-removebg-preview.png'); 
    
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 3rem;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}



@media(min-width: 320px) {
    body{
        margin:0px;
        height: 100%;
    }  

    
    .container{
        width: 100%;
        
        height: 100vh;
        border-radius: 0px;
    } 
   
    .container div{
        margin-bottom: 2rem;
    }
    
}
@media(min-width: 768px ){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 80%;
        padding: 2rem;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.514);
    }
    .create{

        width: 80%;
             
        
    }
    .boton {
    
    
        padding: 1rem 1rem; 
        width: 5rem;
        
        
        border-radius: 35px;
        
        
    }

    
}

@media(min-width:1024px ){
    .boton {
    
    
        padding: 1rem 1rem; 
        width: 7rem;
        
        
        border-radius: 35px;
        
        
    }
}